@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0f11;
  color: #e4e4e7;
}

.glass-panel {
  background: rgba(30, 30, 36, 0.95);
  border: 1px solid rgba(255,255,255,0.05);
}
